<nav class = "d-flex flex-column justify-content-between p-3" style="height: 100%;">
    <ul ngbNav class="nav nav-pills flex-column" orientation="vertical">
        <li ngbNavItem class="nav-item">
            <a ngbNavLink class="nav-link button" routerLink = " ">Home</a>
        </li>
        <li ngbNavItem class="nav-item">
            <button ngbNavLink class="nav-link button" routerLink = "inserir-linguagem">Inserir Nova Linguagem</button>
        </li>
        <li ngbNavItem class="nav-item">
            <button ngbNavLink class="nav-link button" routerLink = "editar-linguagem">Editar Linguagem</button>
        </li>
        <li ngbNavItem class="nav-item">
            <button ngbNavLink class="nav-link button" routerLink = "deletar-linguagem">Deletar Linguagem</button>
        </li>
    </ul>
</nav>