.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .titulo {
    font-size: large;
    font-weight: 600;
  }

  .table {
    
  }