.container {
  margin-top: 20px;

}

.titlebox {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
}

.titulo {
  margin-left: 10px;
  font-size: large;
  font-weight: 400;
}

.subTitulo {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
}

.filterContainer {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.filterButton {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parent{
  margin-left: 10px;
}

.table{
  margin-top: 10px;
  width: 90%;
  border: 1px;
}

mat-header-cell:first-of-type{
  border-top-left-radius: 9px;
}

mat-header-cell:last-of-type{
  border-top-right-radius: 9px;
}

mat-cell, mat-header-cell{
  border-bottom:1px rgb(192, 185, 185) solid ;
}

.mat-column-excluir, .mat-column-editar{
  flex: 0 8%;
}